* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #fff4e6;
}

.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 110px;
  transition: box-shadow 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

header.scrolled {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.logo {
  font-size: 24px;
  font-weight: bolder;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 7px 25px;
  border-radius: 55px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #f08c8c;
  color: #fff;
}

.contact-nav {
  border: 1px solid #000;
  padding: 8px 18px;
}

.contact-nav:hover {
  border-color: #f08c8c;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
  padding-top: 75px;
}

.text {
  max-width: 600px;
  font-weight: bolder;
}

.text h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

.text h1 span {
  font-size: 48px;
}

.text p {
  font-size: 18px;
  margin: 10px 0;
}

.text .icons {
  margin-top: 20px;
}

.text .icons a {
  margin-right: 10px;
}

.image {
  width: 300px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #000;
  animation: borderRadiusAnimation 10s infinite alternate;
}

.image img {
  height: auto;
}

.content-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: justify;
  padding-top: 75px;
}

.text-about {
  max-width: 510px;
  font-weight: bolder;
  padding-left: 2rem;
}

.text-about h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

.text-about p {
  font-size: 18px;
  margin: 10px 0;
}

.image-about {
  width: 360px;
  height: auto;
  overflow: hidden;
}

.image-about img {
  border-radius: 10px;
  height: auto;
  border: #000 1px solid;
}

.card-edu {
  display: flex;
  justify-content: left;
  align-items: center;
}

.unnes {
  border: solid 1px #000;
  border-radius: 10px;
  width: 130px;
  overflow: hidden;
  margin-right: 1rem;
}

.unnes img {
  width: 130px;
  border-radius: 10px;
}

.card-content {
  width: fit-content;
  margin-bottom: 2vh;
}

.card-content h5 {
  font-size: 18px;
}

.card-content p {
  font-size: 17px;
}

@keyframes borderRadiusAnimation {
  0% {
    border-radius: 50%;
  }

  20% {
    border-radius: 30% 70% 50% 40%;
  }

  40% {
    border-radius: 70% 30% 60% 40%;
  }

  60% {
    border-radius: 50% 50% 30% 70%;
  }

  80% {
    border-radius: 40% 60% 70% 30%;
  }

  100% {
    border-radius: 50%;
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text {
    max-width: 100%;
  }

  .image {
    margin-top: 20px;
  }
}

#skills {
  padding: 100px 60px;
}

#skills h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: bold;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 18px;
  justify-content: space-around;
}

.skill {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px 10px;
  border-radius: 10px;
  background-color: #fff9b6c0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: background-color 0.2s;
}

.skill:hover {
  background-color: rgba(245, 245, 245, 0.638);
}

.skill-icon {
  width: 150px;
  height: 150px;
  border-radius: 8px;
}

.skill span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  width: 150px;
  height: 150px;
  background-color: rgba(245, 245, 245, 0.638);
  color: black;
  font-size: 16px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: default;
}

.skill:hover span {
  opacity: 1;
}

/* for Projects */
#projects {
  padding: 100px 0;
}


.hidden {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.5s ease-out, opacity 0.5s ease-out;
}

.visible {
  height: auto;
  opacity: 1;
  transition: height 0.5s ease-in, opacity 0.5s ease-in;
}

.toggle-details-container {
  cursor: pointer;
}

.toggle-title:hover {
  text-decoration: underline;
}

.toggle-details-container:hover {
  text-decoration: none;
}

#experiences {
  padding: 70px 0px;
  width: 1080px;
}

.hover-techstacks {
  transition: background-color 0.2s;
  cursor: context-menu;
  border: 1px solid #c4b5fd;
}

.hover-techstacks:hover {
  background-color: #f3e8ff;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f59e0b;
}

/* Page Projects */
.project-container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
  text-align: left;
}

.project-container h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

.project-container p {
  color: #666;
  margin-bottom: 20px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  background: #fef9c3;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  display: flex;
  padding: 20px;
}

.project-info img {
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.project-info h4 {
  margin: 0;
  font-size: 1.2em;
  font-weight: 700;
  color: #333;
}

.project-info p {
  margin: 5px 0;
  color: #666;
  width: 335px;
  height: 100px;
  text-align: justify;
}

.project-source {
  font-size: 0.9em;
  color: #999;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 8px 20px;
  color: #6b21a8;
  background-color: #f3f4f6;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-right: 15px;
  border: solid 1px #6b21a8;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #f3e8ff;
  border: solid 1px #6b21a8;
  color: #6b21a8;
}

/* Contact */
#contact {
  padding: 90px 0px;
  width: 1080px;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

.contact-icon svg {
  width: 1.25rem;
  height: 1.25rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

#certificates {
  font-weight: bold;
  width: 1130px;
  margin-left: 10rem;
}

.container-certif {
  max-width: 1120px;
  margin: 10px auto;
  padding: 0 20px;
  text-align: left;
  display: flex;
  gap: 20px;
}

.sertifikat-container {
  width: 50%;
  background: #fef9c3;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
}

.sertifikat-container h5 {
  height: 50px;
}

.img-sertif {
  width: 550px;
  height: 380px;
  border-radius: 8px;
}

/* NAV BUTTON MOBILE */
nav .bx {
  display: none;
  font-size: 24;
}

/* Media query for mobile responsiveness */
@media only screen and (max-width: 768px) {
  nav .bx {
    display: block;
    font-size: 24px;
  }

  nav ul {
    display: block;
    top: 0;
    position: absolute;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 40px;
    z-index: 2;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0);
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  .contact-nav {
    border: 1px solid #000;
    padding: 8px 18px;
    margin: 25px;
  }

  nav ul .bx {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
    font-size: 36px;
  }

  nav a {
    font-size: 16px;
  }

  /* HOME */
  .content {
    padding-top: 0px;
  }

  .text {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
  }

  .text h1 {
    font-size: 33px;
  }

  .text .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-about {
    padding-top: 0px;
  }

  .text-about {
    max-width: fit-content;
    padding-left: 0rem;
    margin-top: 17px;
  }

  .card-content {
    margin-bottom: 0vh;
  }

  #projects {
    max-width: 400px;
    padding-inline: 30px;
  }

  /* Sertif */
  #certificates {
    max-width: 400px;
    margin-left: 1.5rem;
  }

  .container-certif {
    display: flex;
    flex-direction: column;
  }

  .sertifikat-container {
    width: 100%;
  }

  .sertifikat-container h5 {
    height: 50px;
    width: 315px;
  }

  .img-sertif {
    width: 450px;
    height: 280px;
    border-radius: 8px;
  }

  #flask {
    height: 100px;
  }

  #experiences {
    padding: 0px 0px;
    width: 350px;
  }

  .form {
    width: 345px;
  }

  .experience-item {
    margin-bottom: 0px;
  }

  .text-sm {
    padding-left: 16px;
  }
  
  /* Page project */
  .project-card {
    max-width: 380px;
  }
  
  .project-info {
    max-width: 310px;
  }

  .project-info p {
    max-width: 310px;
  }
}
